{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12"><h2>Add a new Menu Item to {{ restaurant[0].name }}</h2></div>
        <div class="col-md-12">
            {% if menuitem is defined %}
                <form class="form-inline" enctype="multipart/form-data" method="post"
                      action="/menu/{{ restaurant[0].restaurant_id }}/{{ menuitem[0].menu_id }}/">
                <div class="form-group">
                    <label>Edit </label>
                    <input class="form-control" name="newMenuName" type="text" placeholder="{{ menuitem[0].name }}">
                </div>
            {% else %}
                <form class="form-inline" enctype="multipart/form-data" method="post"
                      action="/menu/{{ restaurant[0].restaurant_id }}/">
                <div class="form-group">
                    <label>Add </label>
                    <input class="form-control" name="newMenuName" type="text" placeholder="New Menu Name">
                </div>
            {% endif %}
            <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
