{% extends "base.html" %}
{% block content %}
    <h2>Do you want to remove {{ menu[0].name }} from {{ restaurant[0].name }}</h2>
    <form class="form-inline" enctype="multipart/form-data" method="post"
          action="/menu/{{ restaurant[0].restaurant_id }}/{{ menu[0].menu_id }}/delete/">
        <button type="submit" class="btn btn-danger">Yes</button>
        <button type="submit" class="btn btn-info"><a class="button_anchor" href="/menu/{{ restaurant[0].restaurant_id }}/">Cancel</a></button>
    </form>
{% endblock %}
