{% extends "base.html" %}
{% block content %}
    {#{% with messages  = get_flashed_messages() %}
    {% if messages %}
    {% endif %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endwith %}#}

    <div class="page-header vertical-align">
        <div class="col-md-10">
            <a href="/"><h1>{{ restaurant[0].name }}</h1></a></div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary button_full_width"><a class="button_anchor text-center"
                                                                               href="/menu/{{ restaurant[0].restaurant_id }}/new/"><span
                    class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;</span>Add
                a
                new Menu</a></button>
        </div>
    </div>
    <table class="table">
        <tr>
            <td><b>Name</b></td>
            <td><b>Description</b></td>
            <td><b>Price</b></td>
            <td><b>Course</b></td>
        </tr>
        {% for res in restaurant[0].menuitems %}

            <tr>
                <td>{{ res.name }}</td>
                <td>{{ res.description }}</td>
                <td>{{ res.price }}</td>
                <td>{{ res.course }}</td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}

