.description {
    color: teal;
}

p {
    color: rebeccapurple;
}

* {
    outline: 1px solid red !important;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
   font-family: 'Indie Flower', cursive;
}

.toplist {
    display: flex;
    display: -webkit-flex;
}