<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <style type="text/css">
        .label {
            text-align: right
        }

        .error {
            color: red
        }
    </style>

</head>

<body>
<h3><a href="/">Home</a></h3>
<h2>Login</h2>
<form method="post">
    <table>
        <tr>
            <td class="label">
                Username
            </td>
            <td>
                <input type="text" name="username" value="{{ username }}">
            </td>
        </tr>

        <tr>
            <td class="label">
                Password
            </td>
            <td>
                <input type="password" name="password" value="">
            </td>
        </tr>
    </table>

    <div class="error">
        {{ error }}
    </div>

    <input type="submit">
</form>

<h3>Don't have an Account - <a href="/signup">Register</a></h3>
</body>

</html>
