{% extends "base.html" %}

{% block content %}
    {% if post %}
        <h2>Edit post</h2>
    {% else %}
        <h2>new post</h2>
    {% endif %}

    <form method="post">
        <label>
            <div>subject</div>
            <input type="text" name="subject" value="{% if post %} {{ post.subject }} {% endif %}">
        </label>

        <label>
            <div>blog</div>
            <textarea name="content">{% if post %} {{ post.content }} {% endif %}</textarea>
        </label>

        <div class="error">{{ error }}</div>

        <input type="submit">
    </form>
    <button><a href="/">Cancel</a></button>
{% endblock %}
